@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

/* *
{
    padding: 0;
    margin: 0;
}
 */

body
{
    background-color:wheat; /* Цвет фона */
    color: black; /* Цвет текста */

    font-size: 16px; /* Размер шрифта */
    font-weight: normal ; /* Жирность шрифта. normal = 0-500, bold = 500-900*/
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    /* 'Roboto', sans-serif; */ /* Выбор шрифта */

   /*  font: normal 16px 'Roboto', sans-serif; - font объединяет стили, по факту та же запись, что и выше */
}

a
{
    color: black;
    text-decoration: none; 
    
}

/* :hover — псевдокласс, определяющий стиль элемента при наведении на него указателя */
a:hover
{
    text-decoration: underline;
}

/* :active — активная ссылка (та, по которой совершается клик, или на которой удерживается кнопка мыши); :link — ссылка, еще не посещенная пользователем. */
a:active
{
   color: blue; 
}

/* a:visited
{
    color:gray;
} */

/* Чтобы обратиться к классу, необходимо поставить точку перед названием класса (необходимо, чтобы точечно настраивать определённые элементы) */
/* Если вместо класса уникальный id, то чтобы обратиться к id необходимо вместо точки поставить решетку # */
.avatar 
{
    width: 400px;
    border-radius: 40px;
    box-shadow: -15px 20px 14px rgba(0, 0, 0, 0.6)
}

.info
{
    margin-bottom: 20px;
    display: flex;
}

@media (max-width: 700px)
{
    .info
    {
        text-align: center;
        display: block;
    }
}


.info-text
{
    margin-left: 40px;
}

.info-text h4
{
    margin-bottom: 10px;
}


/* p- все интересующие параграфы */
.info p 
{
    color:firebrick; /* цвет параграфов в классе info */
    margin: 0; /* отступ между элементами */
    font-style: italic; /* Наклонный текст */
    font-weight: bold;
    text-decoration: underline; /* Доп. свойство текста (подчеркнуть, зачеркнуть и пр. */
    text-transform: uppercase; /* Регистр текста (все прописные или нет и пр. */
    letter-spacing: 2px; /* Расстояние между символами*/
    word-spacing: 3px; /* Расстояние между словами */
}

.container
{
    max-width: 750px; /* Максимальная ширина всего сайта */
    margin: auto;
    padding-top: 30px;
}

/* .social */ /* Box model */
/*     {
        background: red;
        padding: 15px;
        border: 5px solid black;
        border-radius: 20px;
        margin: 15px;
    }
 */
/* Значок > создает возможность применять стили не ко всем элементам div, а только к дочерним, т .е. на уровень глубже, не затрагивая div внутри div-ов */
/* .box-model > div
{
    background: black;
    height: 200px;
    border: 4px dotted red;
    width: 25%;
    box-sizing: border-box;
} */

/* CSS свойства padding используются для создания пространства вокруг содержимого элемента внутри любых определенных границ. */

.bg-lawgreen
{
    background:lawngreen ;
}

.bg-yellow
{
    background:rgb(219, 206, 13);
}

.bg-purple
{
    background:rgb(123, 87, 207);
}


.card
{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px; /* Отступ снизу элемента */
    border-radius: 20px;
}

.card h2
{
    margin-bottom: 20px;
}

.list
{
    padding: 0 20px;
}

.list li
{
    color: black;
    margin-bottom: 15px;
    border-bottom: 2px solid black;
}

.table
{
    width: 100%;
}

.table td
{
    padding: 10px 20px;
    background:rgb(255, 255, 255); 
    border-radius: 40px;
    text-align: center;
    border: 1px solid red;
}

.table td:nth-child(1),
.table td:nth-child(2),
.table td:nth-child(3),
.table td:nth-child(4)
{
    color:rgb(189, 27, 27);
    font-weight: 100;
}


/* even - каждая четная, odd - нечетная */
/* .tablelol tr:nth-child(even) 
{
    background: red;
} */


.linklist
{
    list-style: square; /* поменять дефольные точки на что-либо */
    padding: 0px 20px;
}

.linklist li
{
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
}

.contact h2
{
    text-align: center;
}

.form-group label
{
    display: block;   /* display - для выбора написания элементов в строку, блочно, таблично и т.д. */
    font-size: 14px;
    color: gray;
}

.form-group input,
.form-group textarea
{
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: black;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

.row
{
    display: flex;
    margin-bottom: 20px;

}

.row > .form-group
{
    width: 50%;
}

.row > .form-group:first-child
{
    margin-right: 20px;
}

.btn
{
    background: rgb(58, 55, 55);
    padding: 15px 20px;
    color: white;
    border: none;
    font-family: inherit;
    cursor: pointer; /* При наведении меняется курсор */
}

.btn:hover
{
    opacity: 0.9; /* При наведении меняется яркость */
}

/* Position */

/* .position
{
    position: relative;
    border: 4px solid black;
    margin-top: 40px;
    padding: 20px;
    height: 300px;
}

.box
{
    position: fixed;
    bottom: 50% ;
    left: 0px;
    width: 50px;
    height: 50px;
    background: indianred;
} */